db_zet:
  host: ""
  port: ""
  user: ""
  password: ""
  db_name: ""
  # config: "charset=utf8mb4&parseTime=true&loc=Local"
  # max_idle_conns: 10
  # max_open_conns: 30
  # max_life_time: 300
  # max_edle_time: 300

